.Mypage-side
  %nav.Mypage__nav
    %ul.Mypage__nav__list
      %li.Mypage__nav__list__li= link_to '本人登録情報', class: "List__item"
      %li.Mypage__nav__list__li= link_to 'クレジット登録/編集', pay_path, class: "List__item"
      %li.Mypage__nav__list__li= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "List__item", data: { confirm: 'ログアウトしますか？' }