.Mypage-main
  %section.Main
    %h2.Main__head 本人登録情報
    %ul.Main__information
      %li.Main__information__group 
        お名前 
        %p.Main__information__group__item 
          山田太郎 
      %li.Main__information__group
        フリガナ 
        %p.Main__information__group__item 
          ヤマダ タロウ 
      %li.Main__information__group 
        生年月日 
        %p.Main__information__group__item 
          1986/11/11
      %li.Main__information__group 
        e-mail 
        %p.Main__information__group__item 
          yamada@yamada.com 