.allscreens  
  .all
    .Header
      .Header__logo
        購入内容の確認
    .shopping
      - @item.images.each do |image|
        = image_tag image.url.url
      .explanation
        .details__message
          =@item.name
        .price__message
          %span
            =@item.price
            送料込み(税込)
      
    .payment
      .payment__message
        支払い金額
      .money__messsage
        ￥
        =@item.price 
    .method
      .method__message
        支払い方法 
      .registration__message
        ⊕登録してください
    .shipping 
      .shipping__message
        配送先
      .registration__message
        ⊕登録してください
    .input
      .input__message
        配送先と支払い方法の入力を完了してください。
    .purchase
      = link_to "購入",item_purchases_path, method: :post
    .form__message