%head
%meta{"charset":"UTF-8"}
%link{"href": "style.css", "rel": "stylesheet"}
%title Sample
%body

  .allscreens        
    .all
      .Header
        .Header__logo
          購入内容の確認
      .shopping
        = image_tag "m49823677505_1.jpg", class: "shopping__image"
        .explanation
          .details__message
            新品　ヘルノ　カシミヤチェスターコート　ダウンコート　キャメル44   
          .price__message
            送料込み(税込)
            %span
              ¥128,000
        
      .payment
        .payment__message
          支払い金額
        .money__messsage
          ¥128,000
      
      -# .dpoint
      -#   .point__message
      -#     ⬜️dポイント
      -#   .dacount__message
      -#     dアカウント連携
      -# .mpoint
      -#   .mpoint__message
      -#     ⬜️ポイント 
      -#   .shojipoint__message
      -#     所持ポイント：P0
        
      .method
        .method__message
          支払い方法 
        .registration__message
          ⊕登録してください
      .shipping 
        .shipping__message
          配送先
        .registration__message
          ⊕登録してください
      .input
        .input__message
          配送先と支払い方法の入力を完了してください。
      .purchase
        .purchas__message
          購入する
    -# .form
      .form__message
    -# .bar
      -# .bar__message
        プライバシーポリシー
      -# .kiyaku 
        メルカリ利用規約
      -# .hyouki
        特定商取引に関する表記
    -# .inputEmail
      -# .nputEmail__message


   

     



  

  
