.exhibition{
  @include display;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  &__top{
    height: 128px;
    -webkit-box-align: center;
    @include align-items;
    @include display;
    -webkit-box-pack: center;
    justify-content: center;
  }
  &__pic{
    height: 49px;
    width: 185px;
  }
  &__content{
    position: relative;
  }
  
  &__main{
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    margin: 0px auto;
  }
}
.tab__box i{
  fill: rgb(34, 34, 34);
  height: 24px;
  margin-bottom: 8px;
  width: 24px; 
}
label{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}
.back{
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  padding: 0px 16px;
  position: fixed;
  visibility: hidden;
  width: 100vw;
}

.top__picture{
  text-decoration: none;
  color: inherit;
}
.form{
  
  &__image{
    padding: 40px;
  }

}

.phonto__style label{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}
.style__tag {
  margin-left: 8px;
  background-color: #ff0211;
  color: #fff;
  @include font-size;
  padding: 0 4px;
  line-height: 1.4em;
  border-radius: 2px;
}
.photo__comment{
  @include margin-top;
}
// .photo__box{
//   @include margin-top;
// }
// .box__content{
//   @include display;
//   flex-wrap: wrap;
//   margin: -8px -4px 0px;
// }
.photo__area{
  width: 620px;
  height: 200px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  #image-box {
    display: flex;
    .preview {
      width: 114px;
      height: 200px;
      text-align: center;
      margin:0px 5px;
      background-color: #EEEEEE;
      // text-align: center;
      .js-remove {
        color: rgb(0, 149, 238);
      }
      img {
        background-color: black;
        margin-top: 30px;
      }
    }
    .preview:hover {
      border: solid 2px blue;
    }
    .previews {
      width: 114px;
      height: 200px;
      text-align: center;
      margin:0px 5px;
      background-color: #EEEEEE;
      // text-align: center;
      .js-remove {
        color: rgb(0, 149, 238);
      }
      img {
        background-color: black;
        margin-top: 30px;
      }
    }
    .previews:hover {
      border: solid 2px blue;
    }
  }
  #label_image,#label_image_edit {
    background-color: #EEEEEE;
    width: 100%;
    height: 200px;
    border: dotted 1px black;
    .click_erea {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-top: 90px;
      }
    }
    
  }
  #label_image:hover {
    border: solid 2px blue;
  }
  input {
    display: none;
  }
  
}
// #tab__box{
//   // display: block;
//   // place-content: center;
//   border: 1px dashed rgb(204, 204, 204);
//   cursor: pointer;
//   @include display;
//   height: 100%;
//   // height: 160px;
//   flex-wrap: wrap;
//   // text-align: center;
//   // border: 1px dashed #ccc;
//   // position: relative;
// }
.box__comment{
  @include font-size;
  line-height: 1.4em;
  text-align: center;
  width: 100%;
}
.border{
  @include border;
  &__short{
    @include border;
  }
}
.product{
  padding: 40px;

  &__style{
    @include align-items;
    @include display;
  }
  &__name__box{
    @include margin-top;
    @include align-items;
    display: inline-flex;
    width: 100%;
    font-size: 16px;
  }
}
.product__style label{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}
.name__area{
  display: inline-block;
  position: relative;
  width: inherit;
}

.name__area input{
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 48px;
  padding: 0 16px;
  width: inherit;
}

.product__introduction{
  margin-top: 32px;
}

.description{
  margin: 0!important;
  &__style{
    @include align-items;
    @include display;
  }
}
textarea{
  font: 400 13.3333px Arial;
}
.description__box{
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 13px 16px;
  width: 100%;
  @include margin-top;
}
.style__counter{
  text-align: right;
  @include margin-top;
}
.style__counter span{
  color: #888;
  font-size: 10px;
  line-height: 1.4em;
  text-align: right;
}
.category__selectbox{
  width: 100%;
  @include margin-top;
  &__contents{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 13px 16px;
    width: 100%;
    @include margin-top;
  }
}


.menu{
  margin-top: 32px;
  &__sale{
    margin-bottom: 40px;
  }
}

.category__select{
  width: 100%;
  @include margin-top;
}
.product__details
{
  padding:40px;
}
.styleB span{
  background-color: #bfbfbf;
  color: #fff;
}

.product__bottom{
  padding: 40px 40px 0px;
}
.price__range{
  color: rgb(136, 136, 136);
  @include font-size;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 24px;
}
.price__content{
  margin-bottom: 40px;
}
.price{
  -webkit-box-align: center;
  @include align-items;
  box-sizing: content-box;
  @include display;
  height: 46px;
  padding: 12px 0px;
  &__sale{
    margin-right: auto;
    white-space: nowrap;
  }
  &__box{
    @include align-items;
    display: -moz-inline-box;
    display: inline-flex;
    width: 100%;
  }
  &__box__right{
    display: inline-block;
    position: relative;
    width: 100%;
  }
  &__fee{
    margin-right: auto;
    white-space: nowrap;
  }
  &__profit{
    margin-right: auto;
    white-space: nowrap;
  }
}
.price__box__right input{
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 48px;
  padding: 0 16px;
  width: 100%;
}

.fee__value{
  font-size: 14px;
}
.exhibition__bottom{
  margin: 0px auto 32px;
  width: 360px;
}
.button{
  background-color: #ea352d;
  color: #fff;
  width: 100%;
  @include button;;

}
.buttonB{
  margin-top: 24px;
  background-color: #ccc;
  border-color: transparent;
  color: #222;
  width: 100%;
  @include button;;
}
.back__home{
  margin-top: 24px;
  color: #0095ee;
  @include display;
  width: 100%;
  height: 20px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  @include align-items;
}
.caution{
  margin-bottom:64px;
  &__content{
    @include font-size;
    line-height: 1.4em;
    
  }
  &__sentence{
    @include font-size;
    line-height: 1.4em;
  }
}
