.banner{
  background-image: image-url("public/images/bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}
.download{
  color: #fff;
  text-align: center;
  height:159px;
  &__title{
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
  }
  &__text{
    font-size: 35px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: center;
  }
  &__icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
  }
}
