.post__button{
  position: fixed;
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  z-index:100;
}
.new__button{
  text-decoration: none;
  color: inherit;

}
.button__inner{
  border-radius: 50%;
  background-color: #3CCACE;
  text-align: center;
  width: 150px;
  height: 150px;
  padding-top: 28px;
}
.inner__text{
  font-size:35px;
  color: rgb(255, 255, 255);
  margin: 5px auto 0px;
  margin-top: 25px;
}