.category__order{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  height: 54px;
}
.category__order ul{
  padding: 17px 0 16px;
  width: 100%;
  max-width: 1040px;
  font-size: 14px;
  margin: 0 auto;
}
.category__order ul li a:hover{
  color: #3CCACE;
}
.category__order li{
  padding: 0 10px 0 0;
  float: left;
}
.category__order ul li a{
  text-decoration: none;
  color: #333;
}
.category__order ul li p{
  font-weight: bold;
}
.fa{
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.product__main{
  background: #f8f8f8;
}
.product__show{
  padding: 40px;
  margin: 0 auto;
}
.product__left{

}
.product__right{
  width: 700px;
  margin: 0 auto;
}
.product__content{

}
.product__box{
  background-color: #fff;
  padding: 24px 40px 40px;
}
.product__box__name{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.product__box__body{
  margin: 16px 0 0;
}
.product__box__body ul{
  display: flex;
  position: relative;
}
.product__box__body ul li{
  display: flex;
  flex-direction: column;
  width: 560px;
  align-items: center;
  margin: 0 auto;
}
.product__box__body ul li img{
  object-fit: cover;
  height: 346px;
}
.product__box__body ul li ul{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 560px;
}
.product__box__body ul li ul li{
  width: 25%;
  margin: 0 10px 0 0;
}
.product__box__body ul li ul li img{
  object-fit: cover;
  height: 87px;
}
.product__box__price{
  margin: 24px 0 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.product__box__price span{
  font-size: 46px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.product__detail{
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}
.product__table{
  margin-bottom: 20px;
}
.product__table table{
  width: 100%;
  height: 375px;
  border-collapse: collapse;
  border: 1px solid #f8f8f8;
}
.product__table body{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;

}
tr{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th{
  width: 20%;
  background-color: #eee;
  font-weight: 400;
  padding: 8px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}
td{
  width: 61%;
  padding: 15px 15px;
  border: 1px solid #dedede;
  font-size: 14px;
}
td a{
  text-decoration: none;
  color: #3CCACE;
}
.option__like{
  display: flex;
  justify-content: space-between;
}
.option__like ul{
  margin: 10px 0 0;
  display: flex;
  list-style: none
}
.like__button{
  margin-right: auto;
  padding: 6px 10px;
  border-radius: 40px;
  color: #3CCACE;
  border: 1px solid #ffb340;
}
.option__like ul:hover {
  cursor:pointer;
  filter: alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity:0.6;
}

.report{
  margin: 10px 0 0;
  display: flex;
  &__button{
    font-size: 14px;
  }
}
.report__button a{
  padding: 6px 10px;
  display: inline-block;
  border-radius: 4px;
  color: #333;
  border: 1px solid #333;
  text-decoration: none;
}
.comment__box{
  padding: 24px;
  background-color: #fff;
  margin: 10px 0;
  text-align: center;
}
.comment__area{
  width: 100%;
  min-height: 104px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 2px;
  text-align:start;
  padding: 10px;
  border-color:grey;
  border-radius: 3px;
}

.attention{
  padding: 8px;
  font-size: 14px;
  background-color: #f8f8f8;
  margin: 10px 0;
  text-align: left;
  line-height: 1.5em;
}
.comment__box form button{
  font-size: 18px;
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
}
.links{
  height: 24px;
}
.links li{
  float: left;
}
.links li:last-child {
  float:right;
}
.links li a{
  text-decoration: none;
  color: #3CCACE;
}
.item__related a{
  display: block;
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}
.product__list a{
  width:220px;
}
.product__img{
  background-color: #fff;
  width: 220px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
  z-index: auto;
}
.product__list a:hover{
  cursor:pointer;
  filter: alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity:0.6;
}

.itemList__name{
  background-color: white;
  color: #333;
  padding: 16px;
  width:233px;
}