.pcHeader {
  height: 97.55px;
  padding: 0 60px;
  box-sizing: border-box;
  background-color: #fff;
  .UpHeaders {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .Up {
      width: 100%;
      height: 50.55px;
      position: relative;
      display: flex;
      align-items: center;
      .top-icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        display: block;
        vertical-align: bottom;
        height: 50.55px;
        width: 140px;
        .iconA {
          height: 40.55px;
          width: 140px;
        }
      }
      .searchBox {
        height: 41px;
        margin-left: auto;
        width: 100%;
        .search_categry {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .search-input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
            border: solid 1px #000;
            border-radius: 4px;
          }
          .search-btn {
            width: 36px;
            border: 0;
            background-color: #3ccace;
            padding: 8px;
            border-radius: 4px;
          }
        }
      }
    }
    .categories {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      height: 32px;
      width: 100%;
      padding: 0;
      ul.listsLeft {
        position: relative;
        display: flex;
        width: 100%;
        li.listsLeft__first {
          list-style: none;
          margin: 0;
        }
      }
      ul.Entrance {
        height: 32px;
        margin-left: auto;
        display: flex;
        width: 100%;
        li.Entrance__gate {
          color: #333;
          line-height: 32px;
          padding: 0 0 0 16px;
          width: 100%;
          text-align: right;
        }
      }
      #tree_menu {
        width: 200px;
        position: absolute;
        z-index: 10;
        display: flex;
        .categoryTree {
          display: none;
          height: 100%;
          border: 1px solid #34AEB3;
          background-color: #fff;
          border-radius: 4px;
          box-shadow: 4px 4px 4px #999;

          a {
            padding: 0;
            input[type="button"] {
              min-width: 200px;
              height: 35px;
              font-size: 14px;
              text-decoration: none;
              color: #3ccace;
              background: #fff;
              outline: none;
              transition: .4s;
              border: #fff;
              padding: 0 0.9em;
              cursor: pointer;
            }
            input[type="button"]:hover {
              background: #62d4d7;
              color: #fff;
            }
            input[type="button"]:active {
              -webkit-transform: translateY(2px);
              transform: translateY(2px);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
              background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
            }
          }
        }
        .categoryTree-child {
          display: none;
          height: 100%;
          border: 1px solid #34AEB3;
          background-color: #fff;
          border-radius: 4px;
          box-shadow: 4px 4px 4px #999;
          .category_child {
            a {
              padding: 0;
              input[type="button"] {
                min-width: 230px;
                height: 35px;
                font-size: 14px;
                text-decoration: none;
                color: #3ccace;
                background: #fff;
                outline: none;
                transition: .4s;
                border: #fff;
                padding: 0 0.9em;
                cursor: pointer;
              }
              input[type="button"]:hover {
                background: #62d4d7;
                color: #fff;
              }
              input[type="button"]:active {
                -webkit-transform: translateY(2px);
                transform: translateY(2px);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
                background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
              }
            }
          }
        }
        .categoryTree-grandchild {
          display: none;
          height: 100%;
          border: 1px solid #34AEB3;
          background-color: #fff;
          border-radius: 4px;
          box-shadow: 4px 4px 4px #999;
          a {
            padding: 0;
            input[type="button"] {
              min-width: 230px;
              height: 35px;
              font-size: 14px;
              text-decoration: none;
              color: #3ccace;
              background: #fff;
              outline: none;
              transition: .4s;
              border: #fff;
              padding: 0 0.9em;
              cursor: pointer;
            }
            input[type="button"]:hover {
              border: 1px solid #62d4d7;
              background: #62d4d7;
              color: #fff;
            }
            input[type="button"]:active {
              -webkit-transform: translateY(2px);
              transform: translateY(2px);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
              background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
            }
          }
        }
      }
    }
  }
}
