.SignUpContents {
  height: 1400px;
  width: 100%;
  background-color: #f0f0f0;
  .SignUp {
    // width: 700px;
    width: 100%;
    margin: 0 auto;
    &__field {
      width: 100%;
      font-size: 20px;
      margin: 0 auto;
      &--header {
        text-align: center;
        height: 97px;
        width: 70%;
        padding: 40px 64px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        font-size: 22px;
        font-weight: bold;
        margin: 0 auto;
      }
      &--main {
        background-color: #fff;
        width: 70%;
        text-align: left;
        padding: 16px 40px;
        margin: 0 auto;
        &--contents {
          width: 60%;
          margin: 0 auto;
          max-width: 343px;
          font-size: 14px;
          .FormField {
            background-color: #fff;
            display: block;
            height: 70px;
            // width: 343px;
            margin-bottom: 24px;
            &__label {
              @include label;
            }
            .Required__field--logo {
              @include requiredLogo;
            }
            &__input {
              display: flex;
              width: 100%;
              margin: 8px 0 0;
              &__nickname {
                @include inputLong;
              }
              &__name {
                @include input;
              }
              &__kana {
                @include input;
              }
              &__email {
                @include inputLong;
              }
              &--birthday {
                height: 56px;
                font-size: 14px;
                .birthday_field {
                  height: 56px;
                  .year {
                    @include birthSelect;
                  }
                  .month {
                    @include birthSelect;
                  }
                  .day {
                    @include birthSelect;
                  }
                }
              }
              .field_with_errors{
                display: flex;
                width: 100%;
                margin: 8px 0 0;
              }
            }
            &__about {
              height: 42px;
              margin: 8px 0 0;
              line-height: 1.5;
              color: #888;
              padding: 0;
              display: block;
              font-size: 14px;
            }
          }
          .PasswordField {
            font-size: 14px;
            margin: 24px 0 0;
            padding: 0;
            &__label {
              @include label;
              .Required__field--logo {
                @include requiredLogo;
              }
            }
            &__input {
              display: block;
              &__pass {
                @include inputLong;
              }
            }
            &__passwordconfirmation {
              @include passwordConfirmation;
              .Required__field--logo {
                @include requiredLogo;
              }
              &__input {
                display: block;
                &__pass {
                  @include inputLong;
                }
              }
              &--text {
                margin: 8px 0 0;
                line-height: 1.5;
                padding: 0;
                color: #888;
                height: 21px;
                width: 100%;
                font-size: 14px;
              }
            }
            &__safety {
              font-size: 14px;
              h3 {
                height: 16px;
                font-size: 14px;
                font-weight: bold;
                margin-top: 8px;
              }
              &__text {
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 10px;
              }
            }
          }
          .Actions {
            font-size: 14px;
            margin: 24px 0 0;
            &__submit {
              @include submitBtn;
            }
          }
        }
      }
    }
  }
}