.far.fa-clock{
   background-color:#3CCACE ;
   width:100%;
   height:100px;
   font-size:30px;
   text-align: center;
   padding-top:20px;
}
.purchase__done{
   display: block;
   height: 48px;
   width: 328px;
   padding: 0 30px;
   margin: 40px auto;
   line-height: 40px;
   letter-spacing: 1px;
   text-align: center;
   border: 1px solid #ccc;
   border-radius: 4px;
   text-decoration: none;
   font-size: 17px;
   background-color:#3CCACE ;
 }