.allscreens{ 
  height: 100vh;
  width: 44%;
  margin: auto;
  
    .all{
      padding:0px;
      background-color:white;
      height: 100%;

      .Header {
        height: 128px;
        width:300px;
        background-color:white;
        font-size:25px ;
        padding: 60px;
        text-align: center ;
        margin-left: 160px;

      }

      .shopping{
        display: flex;
        height: 108px;
        width:360px;
        margin: 0 auto;
        background-color:white;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        &__image{
        height: 80px;
        width:90px;
        }
      .explanation{
        margin: 15px;
          .details__message{
            font-size: 14px;
            line-height: 1.4em;
            margin-bottom: 8px;
          }
         .price__message{
            margin-left: 36px;
            font-size: 15px;
            span{
              font-size: 20px;
            }
          }
          }
       }
      .payment{
        height: 60px;
        width:360px;
        margin: 0 auto;
        background-color:white;
        display: flex;
        justify-content: space-around;
        font-size:21px ;
        border: 1px solid white;
          .payment__message{
            margin: 0 auto;
            padding-right: 100px;
            
      }
          .money__messsage{
            margin: 0 auto;
          }
      }
          .dpoint{
            height: 60px;
            width:360px;
            margin: 0 auto;
            background-color: white;
            display: flex;
            justify-content: space-around;
            font-size:18px ;
            .point__message{
              padding-right: 60px;
            }
            .dacount__message{
            height: 20px;
            width:160px;
            border: 1px solid red;
            color:red;
            padding-left:10px ;

            }
          }
          .mpoint{
            height: 60px;
            width:360px;
            margin: 0 auto;
            background-color: white;
            display: flex;
            justify-content: space-around;
            font-size:18px ;
            letter-spacing: 1px;
            text-decoration: none;
            line-height: 40px;
          .mpoint__message{
            padding-right: 56px;
          }
      }
          .method{ @include center   
          }
          .shipping { @include center
          }
      .input{
        font-size: 14px;
        display: block;
        height: 48px;
        width: 328px;
        padding: 0 30px;
        margin: 8px auto;
        line-height: 40px;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
        background-color:white;
        color: #fff;
        font-size: 11px;
        color: red;
       }
      .purchase{
        font-size: 14px;
        display: block;
        height: 48px;
        width: 328px;
        padding: 0 30px;
        margin: 8px auto;
        line-height: 40px;
        letter-spacing: 1px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-decoration: none;
        font-size: 17px;
        background-color:#3CCACE ;
      }

      .bar {@include bar
      }
      // .inputEmail {@include inputEmail 
      // }


  }
    }