%aside.banner
  .download
    %h2.download__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.download__text
      今すぐ無料ダウンロード！
    .download__icon
      %a{ href: '#', class: 'appBtn' }
        = image_tag src="/assets/download-3.svg", size: "180x53"
      %a{ href: '#', class: 'googleBtn' }
        = image_tag src="/assets/download-2.svg", size: "180x53"
