.default__container
  %section.item__box
    %h1.item__box__name
      美味しいお肉
    .item__box__main
      .item__photo
      .item__price
      %section.visble
      %table.item__detail__table
    .item__box__price
    .text__center
    %a.item__buy__btn
    %a.item__action
    .item__box__description
    .item__box__like
  .item__message
  .item__media
  .item__profile