@mixin color{
  color:white; 
}

@mixin background-color{
  background-color:white;
}
@mixin display{
  display: flex;
}

// 追記
@mixin form {
  display: block;
  font-size: 14px;
  height: 48px;
  width: 328px;
  padding: 0 10px;
  margin: 15px auto;
  line-height: 40px;
  letter-spacing: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  background-color: #fff;
  color: #3CCACE;
  font-size: 14px;
}
@mixin submitBtn {
  font-size: 14px;
  display: block;
  height: 48px;
  width: 100%;
  padding: 0 30px;
  margin: 8px auto;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  background-color: #3CCACE;
  color: #fff;
  font-size: 14px;
}
@mixin newBtn {
  display: block;
  height: 42px;
  width: 328px;
  padding: 0 30px;
  margin: 8px auto;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  background-color: #3CCACE;
  color: #fff;
  font-size: 14px;
}
@mixin bar {
  height: 128px;
  text-align: center;
  padding-top: 40px;
  background-color: #f0f0f0;
  &--logo {
    height: 49px;
    width: 185px;
    line-height: inherit;
  }
}
@mixin input {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin-right: 8px;
  // width: calc(50% - 6px);
  width: 100%;
  resize: none;
}
@mixin inputLong {
  height: 48px;
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  resize: none;
}

@mixin center  {
  display: block;
  font-size: 14px;
  height: 80px;
  width: 328px;
  padding: 0 10px;
  margin: 15px auto;
  line-height: 40px;
  letter-spacing: 1px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  background-color:white;
  color: black;
  font-size: 14px;
  .registration__message {
    color: #0095EE;
  
  }
}
@mixin border{
  border-top-width: 1px;
  border-top-color: #efefef;
  border-left: 0 solid #efefef;
  border-bottom: 0 solid #efefef;
  border-right: 0 solid #efefef;
  border-top-style: solid;
  margin: 0;
}
@mixin margin-top{
  margin-top: 16px;
}
@mixin font-size{
  font-size: 12px;
}
@mixin align-items{
  align-items: center;
}
@mixin button{
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  -webkit-transition-property: background-color,border-color,color;
  transition-property: background-color,border-color,color;
  vertical-align: middle;
  white-space: nowrap;
  word-break: break-word;
  font-size: 17px;
  min-height: 48px;
  padding: 0 24px;
}

//追記
@mixin birthSelect {
  height: 48px;
  // width: 76px;
  width: 25%;
  border: 1px solid #ccc;
  padding: 0 10px;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
@mixin label {
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  margin: 24px 0 0;
}
@mixin requiredLogo {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background-color: #ea352d;
}

@mixin passwordConfirmation {
  font-size: 14px;
  display: inline-block;
  margin: 8px 0 0 0;
  width: 100%;
}

//追記
@mixin requiredLogoB {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background-color: #ccc;
}